@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gowun+Dodum&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Londrina+Outline&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CRR Outline";
  src: url("../fonts/CRRNTN-Outline.ttf");
}

@font-face {
  font-family: "CRR";
  src: url("../fonts/CRRNTN-Regular.ttf");
}

body{
  background-color: #080808ff;
  color: white;
  
}

.my-div, .a{
  transition: all 0.75s;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
